name: cspell-action
on:
  pull_request:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  cspell:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v5
      - uses: streetsidesoftware/cspell-action@v8
        with:
          files: '.'
          incremental_files_only: false
          check_dot_files: true
