name: cspell-action
on:
  pull_request:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  cspell:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v5
      - uses: streetsidesoftware/cspell-action@v8
        with:
          files: '.'
          incremental_files_only: false
          check_dot_files: true
