on:
  push:
    branches:
      - main
name: release-please
jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - uses: google-github-actions/release-please-action@v3
        id: release
        with:
          release-type: node
          package-name: cspell-cli
          command: release-pr

      # The logic below handles the npm publication:
      - uses: actions/checkout@v3
        if: ${{ steps.release.outputs.release_created }}

      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: "npm"
        if: ${{ steps.release.outputs.release_created }}

      - run: npm ci
        if: ${{ steps.release.outputs.release_created }}

      - run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{secrets.PUBLISH_NPM}}
        if: ${{ steps.release.outputs.release_created }}
