on:
  push:
    branches:
      - main
  workflow_dispatch:

name: release-please
jobs:
  release-please:
    runs-on: ubuntu-latest
    outputs:
      release_created: ${{ steps.release.outputs.release_created }}
    steps:
      - uses: google-github-actions/release-please-action@v3
        id: release
        with:
          command: manifest

  # cspell:ignore noreply

  publish:
    runs-on: ubuntu-latest
    needs:
      - release-please
    if: ${{ needs.release-please.outputs.release_created }}
    steps:
      # The logic below handles the npm publication:
      - uses: actions/checkout@v3
      - name: Setup
        uses: ./.github/actions/setup
        with:
          node-version: ${{ matrix.node-version }}

      - run: npm ci

      - run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{secrets.PUBLISH_NPM}}

  publish-docker:
    needs:
      - release-please
    uses: ./.github/workflows/publish-docker-image.yml
    if: ${{ needs.release-please.outputs.release_created }}
