name: Test
on:
  pull_request:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  test-old-node-versions:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        node-version:
          # List of supported node versions (latest is tested in `test-os`)
          - 14.x
          - 16.x
          - 18.x

        os:
          - ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Setup
        uses: ./.github/actions/setup
        with:
          node-version: ${{ matrix.node-version }}

      - run: npm ci
      - run: npm test

      # Ensure the repository is clean after build & test
      - run: git --no-pager diff --compact-summary --exit-code

  test-os:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        node-version:
          # Test the latest node version here, move older versions to `test-old-node-versions`
          - 16.x

        os:
          - windows-latest
          - macos-latest

    steps:
      - uses: actions/checkout@v3

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}

      - run: npm ci
      - run: npm test

      # Ensure the repository is clean after build & test
      - run: git --no-pager diff --compact-summary --exit-code

  test-docker:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - run: docker build -t cspell .
      - run: docker run -v $(pwd):/workdir cspell
