name: Update CSpell

on:
  push:
    branches:
      - main
    paths:
      - "**/package.json"
      - "**/package-lock.json"
  workflow_dispatch:
  schedule:
    - cron: "0 7 * * *"

jobs:
  update-cspell:
    if: github.repository_owner == 'streetsidesoftware'
    runs-on: ubuntu-latest
    env:
      NEW_BRANCH: "update-cspell"
      REF_BRANCH: main
    steps:
      - name: Start
        run: |
          echo "${{ toJson(github.event.inputs) }}"
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          ref: ${{ env.REF_BRANCH }}
      - name: Install
        run: |
          npm i
      - name: CSpell Old Version
        run: echo CSPELL_VERSION_OLD=$(npx cspell -V) >> $GITHUB_ENV
      - name: Update CSpell to latest
        run: |
          npm i cspell@latest
      - name: CSpell Version
        run: echo CSPELL_VERSION=$(npx cspell -V) >> $GITHUB_ENV
      - name: Minor Versions
        run: |
          echo CSPELL_MINOR_OLD=$(echo '"$CSPELL_VERSION_OLD"' | jq 'sub("\\.[0-9]+$";"")') >> $GITHUB_ENV
          echo CSPELL_MINOR_NEW=$(echo '"$CSPELL_VERSION"' | jq 'sub("\\.[0-9]+$";"")') >> $GITHUB_ENV
      - name: Determine Update type
        env:
          type: ${{ (env.CSPELL_MINOR_OLD == env.CSPELL_MINOR_NEW && 'fix') || 'feat' }}
        run: |
          echo PR_TYPE=$type >> $GITHUB_ENV
      - name: Install
        run: npm install
      - name: Has changes
        run: |
          git --no-pager diff --compact-summary  --exit-code && echo "git_status=clean" >> $GITHUB_ENV || echo "git_status=dirty" >> $GITHUB_ENV
          git --no-pager diff --compact-summary
      - name: Gen Body
        run: |
          echo "git_body<<DIFF" >> $GITHUB_ENV
          echo "### Workflow Bot -- Update CSpell to Latest" >> $GITHUB_ENV
          echo "" >> $GITHUB_ENV
          echo "#### Package.json"  >> $GITHUB_ENV
          echo "" >> $GITHUB_ENV
          echo "\`\`\`\`\`\`diff"  >> $GITHUB_ENV
          git --no-pager diff package.json  >> $GITHUB_ENV
          echo "\`\`\`\`\`\`"  >> $GITHUB_ENV
          echo "" >> $GITHUB_ENV
          echo "#### Summary"  >> $GITHUB_ENV
          echo "" >> $GITHUB_ENV
          git --no-pager diff --compact-summary >> $GITHUB_ENV
          echo "DIFF" >> $GITHUB_ENV
      - name: Echo git_status
        run: |
          echo "Status: ${{ env.git_status }}"
          echo "CSpell Version: ${{ env.CSPELL_VERSION }}"
      - uses: tibdex/github-app-token@v1.6 # cspell:ignore tibdex
        if: env.git_status == 'dirty'
        id: generate-token
        with:
          app_id: ${{ secrets.AUTOMATION_APP_ID }}
          private_key: ${{ secrets.AUTOMATION_PRIVATE_KEY }}
      - name: Create Pull Request
        if: env.git_status == 'dirty'
        uses: peter-evans/create-pull-request@v4
        with:
          commit-message: "fix: Update CSpell to ${{ env.CSPELL_VERSION }}"
          branch: ${{ env.NEW_BRANCH }}
          base: ${{ env.REF_BRANCH }}
          title: "fix: Workflow Bot -- Update CSpell to (${{ env.CSPELL_VERSION }}) (${{ env.REF_BRANCH }})"
          token: ${{ steps.generate-token.outputs.token }}
          body: ${{ env.git_body }}
          delete-branch: true
